<!--
This template creates a UI for acknowledgement reporting articles .

REQUIRED PARAMETERS:
    username - the username of the user
    article-slug -
    author
    report-category
    user-message

!-->
{% extends 'email_template.html' %}
{% block content %}

    <div>
        <p>
            Dear <b>{{ username }}</b>,
            We have received the report you have submitted concerning <b>{{ article_slug }}</b> by {{ author }}.
            As per your message, the article breaches our terms of service under the category
            <b>{{ report_category }}</b> as you described it in your message <b>{{ user_smessage }}</b>.
            We have received your report and an associate will take appropriate action.
        </p>
        <br/>
        <p>Happy Writing!</p>
    </div>

{% endblock %}
