<!--
This template creates a UI for resetting password.

REQUIRED PARAMETERS:
    activation_link - the activation link for the user
!-->
{% extends 'email_template.html' %}
{% block content %}

    <div>
        <p>Please click the link below to reset your password.If you did not make this request, please ignore this
            message.
        </p>
        <br/>
        <a class="button" href="{{ reset_password_link }}">Reset Password</a>
        <br/>
        <br/>
        <p>Happy Writing!</p>
    </div>

{% endblock %}
